*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    
    }
    header{
        display: flex;
        justify-content:space-between;
        align-items: center;
        background-color: rgb(255, 245, 245);
        /* background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
        position: fixed;
        top: 0;
        z-index: 9;
        width: 100%;
        height: 50px;
        padding: 0 3rem;
    }
    .form select{
       
        align-items: center;
        
        height: 28px;
    }
    input, select{
        border-radius: 12px;
        background-color:rgba(242, 242, 242, 0.776);
    }
    .containCard{
        margin: 0rem 0;
       
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        z-index: 0;
    }
    
    .card{
        width: 300px;
        height: 530px;
       border-radius: 8px;
        border:5px solid rgba(0, 0, 0, 0.536);
        padding: 0 10px ;
        z-index: 0;
        margin: 2rem 0 ;
        box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.762);
       
    }
    
    .card h3{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        text-align: center;
    }
    .card >img{
        margin: auto;
        width: 100%;
        height: 320px;
        cursor: pointer;
    }
    
    
    .card .description{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
    }
       /*  .description:hover{
            white-space: normal;
            position:fixed;
            width: 100vw;
            background-color: burlywood;
            z-index: 2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        
        } */
    
    
     .deletButton{
        border: none;
        background-color: rgba(255, 255, 255, 0);
        
        width: 30px;
        height: 30px;
        border-radius: 50px;
        z-index: 15;
    }
    
    .patchCard{
        border: none;
        background-color: rgba(255, 255, 255, 0);
    
        width: 30px;
        height: 30px;
        border-radius: 50px;
        z-index: 15;
    }
    .patch_delete{
        display: flex;
        justify-content: end;
    }
    
    .cardEffect{
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        width: 100%;
        height: 100%;
        border: 2px solid black;
        background-image: radial-gradient(#000000c6 0%, #000000 100%);
        color: white;
        
    }
    
    .d_none{
        display: none;
    }
    
        .cardEffect >img{
            cursor: pointer;
            width: 300px;
            height: auto;
        }
        .cardEffect h3{
            margin-top: 10px;
        }